<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue todo</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  
  <main id="app">
    <h1>Form tambah data</h1>
    <form v-on:submit.prevent="tambahData">
      <div>
        <!-- v-model untuk interaksi data -->
        <input v-model="newTodo" type="text" id="judul" name="judul">
        <button class="cari-btn">tambah</button>
      </div>
    </form>
    <!-- v-for bisa menampung data array dan indexnya -->
    <ul v-for="item, index in dataTodo" >
      <li class="list"><p>{{ item }}</p>
        <!-- @click / v-on:click dapat menginvok function(param)-->
        <button @click="hapusItem(index)">Hapus</button>
      </li>
    </ul>


    <!-- jika dataTodo ada isinya maka tampilkan ini -->
    <p v-if="dataTodo.length">jumlah data ada {{ todoCount }}</p>
    <!-- jika dataTodo kosong isinya maka tampilk an ini -->
    <p v-else >belum ada data</p>
  </main>

  <script src="https://unpkg.com/vue@next"></script>
  <script src="index.js"></script>
</body>
</html>