*{
  margin: 0;
  padding: 0;
}
ul{
  margin: 1rem 0;
}
button{
  padding: 10px;
}
input{
  padding: 10px;
}
.list{
  display: flex;
  border: rgb(201, 201, 201) solid 1px;
  width: 400px;
  justify-content: space-between;
  padding: 10px;
}
#app{
  border: red solid 1px;
  max-width: 600px;
  margin: 3rem auto;
  padding: 1rem;
}
form{
  margin: 1rem 0;
}